:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}


@media (prefers-color-scheme: dark) {
  :root { 
    --text-decoration-color: var(--blue-700);
    --text-color: var(--gray-600)
  }
}

body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  background-color: white;
  font-weight: 400;
  line-height: 1.563;
  color: var(--text-color);
  caret-color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    color:var(--gray-400);
    background-color: var(--gray-900);
    caret-color: white;
  }
}


.formik-debug {
  display: flex;
  /* color: var(--red-500); */
  margin-top: 3em;
  flex-wrap: wrap;
}
.formik-debug .flexy {
  min-width: 44ch;
}
.propsbox {
  border: 2px solid var(--gray-600);
  border-radius: 10px;
  padding: 0.65rem 0.5rem;
  /* font-size: 1rem; */
  font-weight: 400;
  font-family: "avenir next", "helvetica neue", Lato, -apple-system;
  letter-spacing: 0.75px;
  /* font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; */
  font-size: 0.85rem;
}
.propsbox-fancy {
  /* margin: '1rem 0';
  padding: '.5rem' */
  margin: 0 2rem 2em 0;
  
}
.propsbox-json pre strong {
  font-weight: bolder;
  color: var(--red-500);
}
.propsbox code {
  font-weight: bolder;
  color: var(--red-500);
  background: none;
}
.propsbox pre {
  color: var(--blue-200);
  font-size: 1rem;
  /* font-weight: 400; */
  letter-spacing: 0.75px;
  font-family: "avenir next", "helvetica neue", Lato, -apple-system;
}
.textbox {
  /* font-size: 0.85rem; */
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "avenir next", "helvetica neue", Lato, -apple-system;  
  color: var(--gray-400);
}
.textbox strong {
  color: var(--blue-300);
}
.fif-base code {
  margin-right: 2em;
  color: var(--red-500);
}
.fif-base span {
  color: var(--red-500);
}
.flexbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flexbar h5.propsbox-title {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  /* display: inline-block; */
  /* margin: 0px 0 0 1em; */
  margin-right: 1em;
  margin-bottom: 0em;
}
.flexbar .srcfile {
  /* text-align: right; */
  color: var(--red-500);
  margin: 0;
  align-self: flex-end;
}

.flexbar.bm2 {
  margin-bottom: 2em;
}

.repo-links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.repo-links .src-link {
  /* text-align: right; */
  color: var(--red-500);
  /* margin: 0; */
  align-self: flex-end;
  margin-top: 0.5em;
}

.repo-links .src-link a {
  /* margin-top: 10px; */
  margin-right: 2em;
  margin-bottom: 1em;
  color: var(--red-500);
  border-bottom-color: var(--red-800);
}
